body {
  color: #000;
  font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#content {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-columns: 20% 30% 50%; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
}

.rows {
  grid-auto-rows: minmax(200px, auto);
  /* grid-template-rows: 200px 300px 400px 200px; */
  /* grid-template-rows: repeat(2, minmax(200px, auto)) 100px; */
  grid-column-gap: 10px;
  /* Use grid-column-gap on the parent instead for gutters */
  grid-row-gap: 10px;
}

#content div {
  background: #3bbced;
  color: white;
  padding: 30px;
  content: ' ';
}

#content div:nth-child(even) {
  background: #777;
}

/* GRID LINES */

#content.grid-lines {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, minmax(150px, auto));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-lines div:first-child {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  grid-column: 1/3;
}

.grid-lines div:nth-child(2) {
  grid-column: 3/6;
}

.grid-lines div:nth-child(3) {
  grid-column: 1/4;
  grid-row: 2/4;
}

.grid-lines div:nth-child(4) {
  grid-column: 4/7;
  grid-row: 2/5;
}

.grid-lines div:nth-child(5) {
  grid-column: 3/7;
}

.grid-lines div:nth-child(6) {
  grid-row: 5;
  grid-column: 1/3;
}

/* NESTED */

.nested {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-column: span 2;
}

.nested p {
  background: lightgray;
  color: black;
  padding: 20px;
  margin: 0;
}

/* ALIGN AND JUSTIFY */
#content.align-and-justify {
  grid-auto-rows: minmax(150px, auto);
  align-items: stretch; /* Default */
  align-items: start;
  align-items: end;
  justify-items: stretch; /* Default */
  justify-items: start;
  justify-items: end;
}
/* Rules for all direct children */

#content.align-and-justify div:nth-child(3n) {
  align-self: end;
  justify-self: end;
}
#content.align-and-justify div:nth-child(3n - 1) {
  align-self: center;
  justify-self: center;
}
#content.align-and-justify div:nth-child(3n - 2) {
  align-self: start;
  justify-self: start;
}
/* Rules for individual children */
